---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  content: string;
  image: string;
  classes?: string;
}
const { title, content, image, classes } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("@/assets/*.svg");
if (!images[image]) throw new Error(`"${image}" does not exist in glob: "@/assets/*.svg}"`);
---

<section
  class:list={[
    classes,
    "mx-auto w-77.5 rounded-md border border-t-4 border-theme-light-gray bg-white p-6 shadow-2xl md:w-87.5 md:p-7",
  ]}
>
  <h2 class="mb-2 text-xl font-semibold text-theme-very-dark-blue">
    {title}
  </h2>
  <p class="mb-8 text-[13px] leading-6 text-theme-grayish-blue md:mb-10">
    {content}
  </p>
  <div class="flex justify-end">
    <Image src={images[image]()} alt={title} loading={"eager"} width="58" />
  </div>
</section>
